/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
========================================
  Clearfix for floats
========================================
*/
.group:before, 
.group:after { 
  content: "";
  display: table; 
}
.group:after {
  clear: both; 
}
.group {
  zoom: 1; /* IE6&7 */ 
}


/*
========================================
  Typography
========================================
*/

body, button {
  color: #34AABF;
  font: 400 16px/22px "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 700; 
  font-size: 30px;
  line-height: 36px;
}


/*
========================================
  Button styles
========================================
*/

button {
  border: 1px double #8E8F8D;
  border-radius: 4px;
  background-color: #fff;
  color: #8E8F8D;
}

button:hover {
  border-color: #34AABF;
  color: #34AABF;
}

button.home {
  margin-right: 25px;
}

button.newTweets {
  margin-left: 25px;
}



.container {
	/*border: 3px dotted #2cb6ff;*/
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	width: 800px;
  margin: 15px auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.tweets {
	text-align: left;
}

.userName {
	font-weight: bold;
	cursor: pointer;
}

.userFeed,
.userTitle {
	display: none;
}




